.bm-burger-button {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    top: 20px;
  }

  .bm-burger-bars {
    background: #059669;
  }
  
  .bm-cross {
    background: #000;
  }
  
  .bm-cross-button {
    padding-right: 10%;
    margin-right: 5%;
  }
  
  .bm-burger-bars-hover {
    background: #aff7d9;
  }
  
  .bm-menu-wrap {
    position: static;
    top: 0;
    height: 100%;
    left: 0;
  }
  
  .bm-menu {
    background: #fff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    text-align: center;
  }
  
  .bm-morph-shape {
    fill: #373a47;
  }
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  .bm-item {
    display: inline-block;
    text-decoration: none;
    outline: none;
  }
  
  .bm-overlay {
    background: #0000004d;
    top: 0;
  }
  
  .menu-items {
    color: #059669;
  }
  